.Hotel {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px black;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
  height: 250px;
  font-weight: bold;
  font-size: 1.2rem;
  list-style-type: none;
  background: white;
  border-radius: 25px;
}

.HotelCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rebeccapurple;
  color: white;
  width: 25%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 1px 1px 1px black;
}

.Price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.HotelCard p {
  margin-top: 0px;
  margin-bottom: 2px;
  font-weight: lighter;
  font-size: 0.65rem;
}

.HotelCard h3 {
  font-size: 1.3rem;
  text-decoration: underline;
}

.HotelCard h4 {
  margin: 1px 0;
  padding: 0 0;
  font-size: 1rem;
}

.Hotel img {
  height: 50%;
  text-align: center;
  width: 75%;
  border: 1px solid black;
}

.Facilities {
  width: 20%;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hotel ul {
  position: relative;
  list-style-type: none;
  display: flex;
  padding: 0 5px;
  margin: 0 0;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  flex-wrap: wrap;
}
