.SideBar {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  width: 650px;
  max-width: 100%;
  height: 100%;
  padding: 32px 16px;
  box-sizing: border-box;
  margin-top: 16px;
  background-color: rebeccapurple;
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.SideBarContent {
  height: 500px;
  border-left: white solid 1px;
}

.SideBarContent ul {
  height: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

@media (max-width: 499px) {
  .SideBar {
    display: none;
  }
}
