.SideBar {
  position: relative;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 80;
  background-color: rebeccapurple;
  padding: 32px 16px;
  box-sizing: border-box;
  color: white;
}

@media (max-width: 499px) {
  .SideBar {
    display: none;
  }
}
